snippet var "Variable definition" b
variable "${1:name}" \{
	description = "${2}"
	type        = ${3}
	default     = ${4}
\}
endsnippet

snippet out "Output definition" b
output "${1:name}" \{
	description = \$\{${2}\}
	value       = \$\{${3}\}
\}
endsnippet

snippet imp "Import block" b
import \{
	to = ${1}
	id = "${2}"
\}
endsnippet

snippet mov "Moved block" b
moved \{
	from = ${1:module}
	to = ${2:module}
\}
endsnippet
